.root {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: baseline;
}

.day {
  position: relative;
  bottom: 1px;
  text-transform: capitalize;
}

.cat,
.heading {
  margin: 10px;
}
